extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Morgan Olsen

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I started doing web development for fun when I was between ten and twelve years old, and explored different programming technologies. Throughout middle school I played around with everything from Visual Basic to PHP.
            | Fast forward about ten years, and I'm now turning what was a childhood hobby into a profession. I'm familiar with JavaScript and a lot of its technologies like node.js, express, react and more, as well as PHP, Python and other programming languages.
            | I'm always eager to learn new things and take on new challenges, so if there's a technology I'm not familiar with I'll quickly learn to master it.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express
          li React
          li APIs
          li PHP
          li Python
        h6 Contact Info

        ul
          li (+47) 415 44 648
          li me@morganolsen.no

        a.button.expanded(href='https://www.linkedin.com/in/morgan-o-b32b9284/') LinkedIn
        a.button.expanded(href='https://github.com/morganolsen/') GitHub
        a.button.expanded(href='https://twitter.com/MorganOlsenYT') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  