extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Return to homepage
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Error 404

        p.lead.text-light
          | Page not found!

        p Oops, look like this page might be hiding. We didn't find it at least. Maybe try to return to the homepage?

  